<section class="skkdict_entry_form">
  <%= form.label :word, "Word" %>
  <%= form.text_field :word %>

  <%= form.label :reading, "Reading" %>
  <%= form.text_field :reading %>

  <%= form.label :tags, "Tags (separate by ;)" %>
  <%= form.text_field :tags %>

  <%= form.submit %>
</section>
