<h1>Admin</h1>
<h2>Articles</h2>
<% Article.all.each do |article| %>
  <p>
  <%= article.title + " posted by " + article.author_username %>
  <%= link_to "Edit", [:edit, article] %>
  <%= link_to "Delete", article, method: :delete, confirm: "Really delete?" %>
  </p>
<% end %>

<h2>Products</h2>
<% Product.all.each do |product| %>
  <p>
  <%= product.name %>
  <%= link_to "Edit", [:edit, product] %>
  <%= link_to "Delete", product, method: :delete, confirm: "Really delete?" %>
  </p>
<% end %>

<h2>Photos</h2>
<% Photo.all.each do |photo| %>
  <p>
  <%= photo.object %>
  <%= photo.location %>
  <%= photo.category %>
  <%= link_to "Edit", [:edit, photo] %>
  <%= link_to "Delete", photo, method: :delete, confirm: "Really delete?" %>
  </p>
<% end %>

<%= link_to "Log out", :session, method: :delete, confirm: "Really log out?" %>
