<% is_root = @logged_in_as.username == UsersController::ROOT %>
<section class="admin_page">
<h1>Admin</h1>
<h2>Articles</h2>
<%= render "shared/tables/articles_table", is_root: is_root %>

<h2>Products</h2>
<%= render "shared/tables/products_table", is_root: is_root %>

<h2>Photos</h2>
<%= render "shared/tables/photos_table", is_root: is_root %>

<% if is_root %>
  <h2>Users</h2>
  <%= render "shared/tables/users_table" %>
<% else %>
  <h2>User</h2>
  <%= link_to "Edit user info", [:edit, @logged_in_as] %>
  <%= link_to "Delete user", @logged_in_as, method: :delete, confirm: "Really delete user?" %>
<% end %>

<p><%= link_to "Log out", :session, method: :delete, confirm: "Really log out?" %></p>
</section>
