<section class="admin_page">
<h1>Admin</h1>
<h2>Articles</h2>
<%= render "shared/tables/articles_table" %>

<h2>Products</h2>
<%= render "shared/tables/products_table" %>

<h2>Photos</h2>
<%= render "shared/tables/photos_table" %>

<% if @is_root %>
  <h2>Users</h2>
  <%= render "shared/tables/users_table" %>
<% else %>
  <h2>User</h2>
  <%= link_to "Edit user info", [:edit, @logged_in_as] %>
  <%= link_to "Delete user", @logged_in_as, method: :delete, data: { confirm: "Really delete user?" } %>
<% end %>

<p><%= link_to "Log out", :session, method: :delete, data: { confirm: "Really log out?" } %></p>
</section>
