<h1><%= @user.screen %></h1>
<% about = get_about_on(@user) %>
<% if about != nil %>
  <%= raw(convert_to_markdown(about.body)) %>
<% end %>
<% if @articles.present? %>
  <h2>Recent Articles</h2>
  <% @articles.each do |article| %>
    <%= render "shared/article_description", article: article %>
  <% end %>
<% end %>

<% if @products.present? %>
  <h2>Recent Products</h2>
  <% @products.each do |product| %>
    <%= render "shared/product", product: product %>
  <% end %>
<% end %>

<% if @photos.present? %>
  <h2>Recent Photos</h2>
  <div id="gallery">
    <% @photos.each do |photo| %>
      <%= render "shared/photo_thumbnail", photo: photo %>
    <% end %>
  </div>
<% end %>
