<table class="articles_list">
  <tr>
    <th>Title</th>
    <th>Posted</th>
    <th>Updated</th>
    <th>Draft</th>
    <% if @is_root %>
      <th>Posted by</th>
    <% end %>
    <th>Manage</th>
  </tr>

  <% @articles.order("created_at").each do |article| %>

    <tr>
      <td class="article_title"><%= link_to article.title, article %></td>
      <td><%= article.created_at %></td>
      <td style="text-align: center">
        <% if article.updated_at != article.created_at %>
          <%= article.updated_at %>
        <% else %>
          <%= "-" %>
        <% end %>
      </td>

      <td style="text-align: center">
        <% if article.is_draft %>
          <%= "D" %>
        <% else %>
          <%= "-" %>
        <% end %>
      </td>

      <% if @is_root %>
        <td><%= sprintf "%s (%s)", User.username_to_screen(article.posted_by), article.posted_by %></td>
      <% end %>

      <td>
        <%= link_to "Edit", [:edit, article] %>
        <%= link_to "Delete", article, method: :delete, data: { confirm: "Really delete?" } %>
      </td>
    </tr>
  <% end %>
</table>
