<section class="article">
  <h1 class="title"><%= link_to article.title, article %></h1>
  <section class="body">
    <%= raw(convert_to_markdown(article.body)) %>
  </section>
  <hr class="end_body">
  <section class="tags">
    <% if article.tags != nil %>
      <% article.tags.split(';').each do |article_tag| %>
        <%= link_to article_tag, { action: :search, tag: article_tag} %>
    <% end %>
  <% end %>
  </section>
  <section class="posted_at">
    <%= "Posted by" %>
    <% author_screen = get_author_screen(article.posted_by) %>
    <% if author_screen == nil || author_screen.empty? %>
      <%= link_to article.posted_by, user_path(article.posted_by) %>
    <% else %>
      <%= link_to author_screen, user_path(author_screen) %>
    <% end %>
    <%= "at #{article.created_at}" %>
  </section>
  <% if article.updated_at != article.created_at %>
    <section class="updated_at">
      <%= "Updated at #{article.updated_at}" %>
    </section>
  <% end %>
  <% if @logged_in_as && @logged_in_as.username == article.posted_by %>
    <section class="admin">
      <%= link_to "Edit", [:edit, article] %>
      <%= link_to "Delete", article, method: :delete, data: { confirm: "Are you sure you want to delete this?" } %>
    </section>
  <% end %>
</section>
