<section class="article">
  <h1 class="title"><%= link_to article.title, article %></h1>
  <section class="body">
    <%= raw(convert_to_markdown(article.body)) %>
  </section>
  <hr class="end_body">
  <section class="tags">
    <%= article.tags %>
  </section>
  <section class="posted_at">
    <%= "Posted by" %>
    <% author_screen = get_author_screen(article.author_username) %>
    <%= link_to author_screen, user_path(author_screen) %>
    <%= "at #{article.created_at}" %>
  </section>
  <% if article.updated_at != article.created_at %>
    <section class="updated_at">
      <%= "Updated at #{article.updated_at}" %>
    </section>
  <% end %>
  <% if @logged_in_as && @logged_in_as.username == article.author_username %>
    <section class="admin">
      <%= link_to "Edit", [:edit, article] %>
      <%= link_to "Delete", article, method: :delete, confirm: "Are you sure you want to delete this?" %>
    </section>
  <% end %>
</section>
