<section class="comment">
  <%= "Comment from" %>
  <b class="comment_posted_by"><%= comment.name %></b>
  <%= ":" %>
  <section class="comment_body"><%= raw(convert_to_markdown(comment.body)) %></section>
  <p><%= "Commented at #{comment.created_at}" %></p>

  <% if @logged_in_as != nil && @logged_in_as.can_modify(comment.article) %>
    <%= link_to "Delete", comment, method: :delete, class: "button delete", data: { confirm: "Really delete?" } %>
  <% end %>
</section>
