<nav class="navbar">
  <ul>
    <li><%= link_to "Tips", "/tips" %></li>
    <li><%= link_to "Products", "/products" %></li>
    <li><%= link_to "Gallery", "/gallery" %></li>
    <li><%= link_to "FTP", "http://ftp.nigorojr.com" %></li>
    <li><%= link_to "About", "/about" %></li>
    <li class="nav_right"><%= mail_to "nigorojr@gmail.com", "Contact" %></li>
    <li class="nav_right"><%= link_to "Admin", "/admin" %></li>
  </ul>
</nav>
