<nav class="navbar">
  <ul>
    <li><%= link_to "Articles", "/articles" %></li>
    <li><%= link_to "Products", "/products" %></li>
    <li><%= link_to "Gallery", "/gallery", "data-no-turbolink" => "1" %></li>
    <li><%= link_to "FTP", "http://ftp.nigorojr.com" %></li>
    <li><%= link_to "About", "/about" %></li>
    <li class="nav_right"><%= mail_to "nigorojr@gmail.com", "Contact" %></li>
    <li class="nav_right"><%= link_to "Admin", "/admin" %></li>
    <% if @logged_in_as %>
      <li class="nav_right"><%= link_to "Log out", :session, method: :delete, data: { confirm: "Really log out?" } %></li>
      <li class="nav_right"><%= link_to get_login_status(), user_path(@logged_in_as.screen) %></li>
    <% end %>
  </ul>
</nav>
