<h3>Product Name</h3>
<%= form.text_field :name %>
<h3>Description</h3>
<%= form.text_area :description, rows: 15 %>
<h3>Website</h3>
<%= form.text_field :website %>
<h3>Category</h3>
<%= form.text_field :category %>
<h3>Team</h3>
<%= form.text_field :team %>
<h3>Updated</h3>
<%= form.text_field :updated %>
<h3>Version</h3>
<%= form.text_field :version %>
<%= form.hidden_field :posted_by, @logged_in_as.username %>

<%= form.submit %>
