<h3><%= form.label :title, "Title" %></h3>
<%= form.text_field :title %>

<h3><%= form.label :body, "Body" %></h3>
<%= form.text_area :body, cols: 50, rows: 20 %>

<h3><%= form.label :tags, "Tags" %></h3>
<%= form.text_field :tags %>

<h3><%= form.label :category %></h3>
<%= form.text_field :category %>

<h3><%= form.label :language %></h3>
<%= form.text_field :language %>

<h3><%= form.label :author %></h3>
<%= form.text_field :author %>
