<ul>
  <li class="logo"><%= image_tag("logo.png", alt: "Logo", align: "middle") %></li>
  <li class="menubar">
    <%= menu_link_to("TOP", root_path) %>
    <%= menu_link_to("News", "#") %>
    <%= menu_link_to("Blog", "#") %>
    <%= menu_link_to("Members", "#") %>
    <%= menu_link_to("Admin", "#") %>
  </li>
</ul>
