<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html" charset="utf-8">
<title><%= get_title %></title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery.photobox" %>
<%= stylesheet_link_tag "photobox" %>
<%= csrf_meta_tags %>
<%= favicon_link_tag("favicon.ico") %>
</head>

<body>
<%= render "shared/navbar" %>

<div id="header">
  <%= link_to(image_tag("NigoroJrLogo.png", size: "686x200", alt: "NigoroJr Logo"), "/") %>
</div>

<div id="my_body">
  <% if flash.notice %>
    <p class="notice"><%= flash.notice %></p>
  <% end %>

  <div id="contents_wrapper">
    <div id="main_contents">

      <%= yield %>

    </div>
  </div>

  <div id="footer">
    <%= link_to(image_tag("vim_love.gif", alt: "I love Vim banner"), "http://www.vim.org") %>
    <%= link_to(image_tag("glider-small.png", size: "33x33", alt: "Hacker Emblem"), "http://www.catb.org/hacker-emblem/") %>
    <%= link_to(image_tag("powered_by_perl.gif", alt: "Powered by Perl"), "http://www.perl.com") %>
    <div id="copyright">
      Copyright (C) 2014 NigoroJr.com All Rights Reserved
    </div>
  </div>
</div>
</body>
</html>
