<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html" charset="utf-8">
<title><%= get_title %></title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquery.photobox" %>
<%= stylesheet_link_tag "photobox" %>
<%= csrf_meta_tags %>
<%= favicon_link_tag("favicon.ico") %>
<script>
var highlight = function() {
    $('pre code').each(function(i, block) {
        hljs.highlightBlock(block);
    });
};
$(document).ready(highlight);
$(document).on('page:change', highlight);

var photobox = function() {
    $('#gallery').photobox('prepareDOM');
    $('#gallery').photobox('a');
};
$(document).ready(photobox);
$(document).on('page:change', photobox);
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44202081-1', 'auto');
  ga('send', 'pageview');
</script>
</head>

<body>
<%= render "shared/navbar" %>

<section id="header">
  <%= link_to(image_tag("NigoroJrLogo.png", size: "686x200", alt: "NigoroJr Logo"), "/") %>
</section>

<section id="contents_wrapper">
  <% if flash[:notice] %>
    <p class="notice" onClick="$(this).hide('slow')"><%= flash[:notice] %><span class="x_button">X</span></p>
    <% flash.discard(:notice) %>
  <% end %>
  <% if flash[:error] %>
    <p class="error" onClick="$(this).hide('slow')"><%= flash[:error] %><span class="x_button">X</span></p>
    <% flash.discard(:error) %>
  <% end %>

  <section id="contents">
    <%= yield %>
  </section>

</section>
<section id="footer">
  <%= link_to(image_tag("vim_love.gif", alt: "I love Vim banner"), "http://www.vim.org") %>
  <%= link_to(image_tag("glider-small.png", size: "33x33", alt: "Hacker Emblem"), "http://www.catb.org/hacker-emblem/") %>
  <%= link_to(image_tag("powered_by_perl.gif", alt: "Powered by Perl"), "http://www.perl.com") %>
  <section id="copyright">
    Copyright (C) 2014 NigoroJr.com All Rights Reserved
  </section>
</section>
</body>
</html>
