<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html" charset="utf-8">
<title>NigoroJr</title>
<link rel="shortcut icon" href="/images/favicon.ico">
</head>

<body>
<nav id="nav">
  <ul>
    <li><a href="/tips">Tips</a></li>
    <li><a href="/apps">Apps</a></li>
    <li><a href="/ftp">FTP</a></li>
    <li><a href="/users">Users</a></li>
    <li style="float: right"><a href="mailto:nigorojr@gmail.com">Contact</a></li>
  </ul>
</nav>

<div id="header">
  <%= link_to(image_tag("NigoroJrLogo.png", size: "686x200", alt: "NigoroJr Logo"), "/") %>
</div>


<div id="my_body">
  <div id="contents_wrapper">
    <div id="main_contents">

      <h1>Welcome to NigoroJr.com!</h1>

      <h2><%= @date %></h2>
      <p>This website is getting into shape! Currently this website is rewritten in Ruby on Rails!</p>

      <hr />

      <h1>Contents Description</h1>

      <p>The "Tips" page contains things we discovered while configuring,
      installing, and developing softwares. However, it's not (supposed to be)
      limited to computer stuff. "Apps" page is a collection of apps
      that we developed/are developing.</p>
      <hr>  </div>
  </div>

  <div id="footer">
    <%= link_to(image_tag("glider-small.png", size: "33x33", alt: "Hacker Emblem"), "http://www.catb.org/hacker-emblem/") %>
    <%= link_to(image_tag("vim_love.gif", alt: "I love Vim banner"), "http://www.vim.org") %>
    <%= link_to(image_tag("powered_by_perl.gif", alt: "Powered by Perl"), "http://www.perl.com") %>
    <div id="copyright">
      Copyright (C) 2014 NigoroJr.com All Rights Reserved
    </div>
  </div>
  </body>
</html>
